.carousel-wrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 4rem;
}

.slick-prev, .slick-next {
    background-color: purple;
    border: solid 1px pink;
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

